{% extends 'admin/admin_base.html' %}
{% block content %}


    <h1>Tout les utilisateur</h1>
    
    
    <!-- Grille des utilisateur -->
    <section>
        <table>
            <thead>
                <th>Pseudo</th>
                <th>Role</th>
                <th>Nombre de Projet</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for user in user %}
                <tr>
                    <td>{{user["username"]}}</td>
                    <td>
                        <form action="{{url_for('update_role', user_id = user['_id'], user = user['username'])}}" method="post">
                            <select name="role" onchange="this.form.submit()">
                                <option value="user" {% if user['role'] == 'user' %} selected {% endif %}>user</option>
                                <option value="admin" {% if user['role'] == 'admin' %} selected {% endif %}>admin</option>
                            </select>
                        </form>
                    </td>
                    <td>{{nbProjet}}</td>
                    <td>
                        <a href="/user/{{user['_id']}}">Voir</a>
                        <a href="{{url_for('delete_user', user_id = user['_id'])}}" onclick="return confirm('Supprimer cet Utilisateur')">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- Grille des posts-->
    <section>
        <table>
            <thead>
                <th>Titre</th>
                <th>Description</th>
                <th>Utilisateur</th>
                <th>Date de Publication</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for projet in projet %}
                <tr>
                    <td>{{projet["titreProjet"]}}</td>
                    <td>{{projet["descriptionProjet"]}}</td>
                    <td>{{projet["auteurProjet"]}}</td>
                    <td>{{projet["dateProjet"]}}</td>
                    <td class="gap-2 flex flex-wrap">
                        <a href="/projet/{{projet['_id']}}">Voir</a>
                        <a class="" href="{{url_for('delete_projet', projet_id = projet['_id'])}}">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <!--Historique Site-->
    <article>
        <section class="flex justify-center border-1 border-lg border-solid border-blue-300">
            <table>
                <caption>Historique des actions sur le site !</caption>
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">ID</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Date</th>
                        <th scope="col">Admin</th>
                    </tr>
                </thead>
                {% for log in log %}
                {% if log.action == "deleteProjet" %}
                    <tr>
                        <th scope="row">{{log.action}}</th>
                        <td>{{log.idProjet}}</td>
                        <td>{{log.titreProjet}}</td>
                        <td>{{log.dateLog}}</td>
                        <td>{{log.admin}}</td>
                    </tr>
                {% elif log.action == "deleteUser" %}
                    <tr>
                        <th scope="row">{{log.action}}</th>
                        <td>{{log.idUser}}</td>
                        <td>{{log.user}}</td>
                        <td>{{log.dateLog}}</td>
                        <td>{{log.admin}}</td>
                    </tr>
                {% elif log.action == "createProjet" %}
                    <tr>
                        <th scope="row">{{log.action}}</th>
                        <td>{{log.idUser}}</td>
                        <td>{{log.titreProjet}}</td>
                        <td>{{log.dateLog}}</td>
                        <td>...</td>
                    </tr>
                {% elif log.action == "createUser" %}
                    <tr>
                        <th scope="row">{{log.action}}</th>
                        <td>{{log.idUser}}</td>
                        <td>{{log.username}}</td>
                        <td>{{log.dateLog}}</td>
                        <td>...</td>
                    </tr>
                {% endif %}
                {% endfor %}
            </table>
        </section>
    </article>


{% endblock %}