{% extends 'front/base.html' %}
{% block content %}

<main class="">
    <h1 class="">Ajoute un nouveau projet</h1>
    <form method = "POST" action = "{{url_for('create_projet')}}" enctype = "multipart/form-data" >
        <!--Nom-->
        <div>
            <label>Nom</label>
            <input type ="text" name="titre" required placeholder="Titre du Projet">
        </div>
        
        <!--Description-->
        <div>
            <label>Description</label>
            <textarea name="description" rows="4" required placeholder="Décrit ton Projet" ></textarea>
        </div>

        <!--Code-->
        <div>
            <label>Code</label>
            <textarea name="code" rows="6" required placeholder="Entre ton programme"></textarea>
        </div>

        <!--Image-->
        <div>
            <label>Image</label>
            <input type="file" name = "image" accept = "image/*">
        </div>

        <!--Tags-->
        <div>
        <label>Choisis les tags : </label>
            <div>
                {% for tag in tags %}
                    <input type="checkbox" id="{{ tag }}" name="tags" value = "{{ tag }}" class="">
                    <label for="{{ tag }}" class="">{{ tag }}</label>
                {% endfor %}
            </div>
        </div>

        <!--Bouton-->
        <button type="submit">Crée ton projet</button>
    </form>
</main>

{% endblock %}
