{% extends "front/base.html" %}
{% block content %}

<main>
    <h1 class="text-center font-semibold text-2xl p-4">
        Bienvenur sur SmartDev un site où tu peux partager tes projets de programmation, chercher des collaborateurs et voter pour les projets des autres
    </h1>
    <div class="flex justify-center">
        <button class="text-center bg-blue-400 rounded-lg p-2"><a href="front/register.html" class="text-white">Créer un compte</a></button>
    </div>
    <a href="/projet">Projet</a>

</main>

{% endblock %}